/* GERAL 
----------------------------------------------------- */
@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Helvetica, sans-serif;
    color: #282828;
}
h1, h2, h3{
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}
a{
    text-decoration: none;
    color: #009966;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

/* BANNER
----------------------------------------------------- */
#banner{
    background: url(../img/banner.jpg) center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}
#banner-content h3{
    color: #f7f7f7;
}
#banner-content h1{
    font-size: 30pt;
    margin-bottom: 16px;
    text-align: center;
    color: #52b3d9;
    margin-top: 10px;
}
#banner-content h1 span{
    color: #68c3a3;
}
#banner-content p{
    font-size: 12pt;
    color: #f7f7f7;
    text-align: center;
}
#fiap{
    color: #ed145b;
    font-weight: bold;
    letter-spacing: 1px;
}
#fiap:hover{
    text-decoration: underline;
}
#banner-content{
    height: 100%;
    background-color: rgba(26, 30, 35, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#redes-sociais{
    margin-top: 40px;
}
#redes-sociais ul{
    display: flex;
}
#redes-sociais ul li{
    margin: 0 10px;
}
.social-icon{
    width: 32px;
    height: 32px;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    transform: scale(1,1);
    transition: transform 0.5s;
}
.social-icon i{
    color: #FFF;
}
#scroll{
    position: absolute;
    bottom: 20px;
}
#scroll a i{
    animation-name: floating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    font-size: 40pt;
    color: #FFF;
}

@media (min-width: 768px){
    #banner-content h1{
        font-size: 40pt;
        margin: 20px 0 30px;
    }
    .social-icon:hover{
        background-color: rgba(82, 179, 217, 0.3);
        transform: scale(1.5,1.5);
    }
}

/* MENU
----------------------------------------------------- */
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
#menu header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(26, 30, 35, 0.99);
    position: relative;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;    
}
.titulo h2{
    color: #FFF;
    margin: 10px 0;
}
.menu-hamburguer {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 10px;
}
.traco {
    width: 100%;
    height: 3px;
    background-color: #FFF;
    margin: 3.75px 0;
    transition: 0.5s;
}
.traco-1, .traco-3 {
    transform-origin: center right;
}
.menu-hamburguer.ativo .traco-1 {
    transform: rotateZ(-45deg);
}
.menu-hamburguer.ativo .traco-2 {
    opacity: 0;
}
.menu-hamburguer.ativo .traco-3 {
    transform: rotateZ(45deg);
}
.filtros {
    display: none;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}
.filtros.mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 200%;
    right: 0;
    background-color: rgba(26, 30, 35, 0.99);
    z-index: 1;
    transition: 0.5s;
    overflow-x: hidden;
}
.filtros.mobile a{
    border-top: 1px solid rgba(51, 63, 77, 0.99);
}
.filtros.mobile.ativo {
    left: 0;
}
.filtros a {
    color: #FFF;
    padding: 10px 0;
    text-align: center;
    width: 100vw;
}
.filtros a:active{
    background-color: #304050;
}

@media (min-width: 768px){
    #menu header {
        justify-content: space-between;
        padding: 0 100px;
        align-items: initial;
    }

    .menu-hamburguer {
        display: none;
    }

    .filtros {
        display: flex;
    }

    .filtros a{
        padding: 20px;
        width: auto;
    }

    .filtros a:hover{
        background-color: rgba(82, 179, 217, 0.3);
        transition: 0.5s;
    }

    .filtros.mobile {
        display: none;
    }
}

/* SESSÃO
----------------------------------------------------- */


/* SESSÃO
----------------------------------------------------- */


/* SESSÃO
----------------------------------------------------- */


/* SESSÃO
----------------------------------------------------- */


